<h1>Detail of machine</h1> <h1>Owner: 
<%=@machine.customer.name%></h1>
<br />

<ul>Name: <%= @machine.name%></ul>
<ul>Description: <%= @machine.description%></ul>
<ul>Location: <%= @machine.location%></ul>
<ul>Year of installation: <%= @machine.year%></ul>
<ul>Created at: <%= @machine.created_at%></ul>
<ul>Last update: <%= @machine.updated_at%></ul>

<br />

<button class="bt btn-primary btn-lg pull-left" data-toggle="modal" data-target="#myModal">
  Add a service
</button> 
<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Add a service</h4>
      </div>
      <div class="modal-body">
        <%= simple_form_for @service, url: machine_services_path(@machine) do |f| %>
        <%= f.input :description %>
        <%= f.input :place %>
        <%= f.input :date %>
        <%= f.input :supplier %>
        <%= f.input :order %>
      
      </div>
      <div class="modal-footer">
      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      <%=f.submit "Add a service", class: 'btn btn-primary' %>

      </div>
      <%end%>
    </div>
  </div>
</div>

<h1>List of services</h1>

<br />
<%@machine.services.each do |service|%>
  <div class ="booyah-box col-xs-12 col-sm-8 col-xs-1-offset">
  <ul><b>Service Nr:</b> <%= service.id%></ul>
  <ul><b>Description:</b> <%= service.description%></ul>
  <ul><b>Place of works:</b> <%= service.place%></ul>
  <ul><b>Customer Order:</b> <%= service.order%></ul>
  <ul><b>Date of Works:</b> <%= service.date%></ul>
  <ul><b>Supplier:</b> <%= service.supplier%></ul>
  <ul><b>Status:</b> <%= service.status%></ul>
  </div>

  <br />
<%end%>
















  