<h1>Detail of machine</h1> <h1>Customer<%=@machine.user.name%>
<ul>Name: <%= @machine.name%></ul>
<ul>Description: <%= @machine.description%></ul>
<ul>Location: <%= @machine.location%></ul>
<ul>Year of installation: <%= @machine.year%></ul>
<ul>Created at: <%= @machine.created_at%></ul>
<ul>Last update: <%= @machine.updated_at%></ul>
